@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

:root {
  font-family: "Geist", sans-serif;

  color-scheme: dark light;
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}